.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(205, 150, 78);
}

.navbar h1 {
    color: rgb(12, 12, 12);
    ;
    margin: 0;
    font-size: 40px;
}

.nav .nav-search {
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav .nav-search input {
    flex: 1;
    color: rgb(12, 12, 12);
    ;
    border: 1px solid rgb(12, 12, 12);
    ;
    height: 42px;
    border-right: none;
}

.nav .nav-search button {
    background-color: rgb(189, 185, 185);
    color: rgb(12, 12, 12);
    border: 1px solid rgb(12, 12, 12);
    height: 42.5px;
    width: 100px;
}

.navbar ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar ul li {
    padding-left: 15px;
    padding-top: 0px;
    font-size: 20px;
}

.navbar ul a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

h1 a {
    color: white;
    text-decoration: none;
}

.suggested-search {
    position: absolute;
    top: 40px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
}

.suggested-search li {
    padding: 5px;
    border: 1px solid #ddd;
}

.suggested-search li a {
    cursor: pointer;
    color: blueviolet;
}

.d-block,
carousel-item active {
    width: 100%;
    height: 400px;
    padding: 10px;

}

.form-control {

    border-radius: 3px;

    width: 600px;

    margin-left: 20px;

}



.search-icon {

    position: absolute;

    z-index: 10;

    right: 38%;

    top: 23px;

    color: rgb(0, 89, 255);

}