<div>
    <app-header></app-header>
</div>
<div class="card-top container-fluid">
    <div class="container-fluid " style=" display: flex; align-self: center;">
        <div class="item" >
            <a (click)="filter('')">
                <img style="width: 75px; margin-top: 10px;height: 52px;" src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <img style="width: 75px; margin-top: 10px;height: 52px;" src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img style="width: 75px; margin-top: 10px;height: 52px;" src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img style="width: 75px; margin-top: 10px;height: 52px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt="">
                <h6 >Jewllery</h6>
            </a>
        </div>
    </div>
</div>

<div id="carouselExampleDark" class="carousel carousel-dark slide">

    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img
          src="https://www.malabargoldanddiamonds.com/media/wysiwyg/offer_page/2017/09_Sept/diwali_offer/diwali-offer-landing-20oct2017.jpg"
          class="d-block"
          alt="..."
        />
        <!-- <div class="carousel-caption d-none d-md-block">
       <h3>Jewellery offer</h3>
      https://www.malabargoldanddiamonds.com/media/wysiwyg/offer_page/2017/09_Sept/diwali_offer/diwali-offer-landing-20oct2017.jpg
       <p>Some representative placeholder content for the first slide.</p>
      </div> -->
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://i.pinimg.com/originals/21/4c/03/214c035eaee40a3cb5209af31dd6c99e.jpg"
          class="d-block"
          alt="..."
        />
        <!-- <div class="carousel-caption d-none d-md-block">
       <h5>Second slide label</h5>
       <p>Some representative placeholder content for the second slide.</p>
      </div> -->
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://th.bing.com/th/id/R.3f5167044a01ff4420c835f95e8f54a1?rik=CFfdCscBPLLl9g&riu=http%3a%2f%2fwww.shopickr.com%2fwp-content%2fuploads%2f2015%2f10%2fsnapdeal-ultimate-monday-electronics-sale-banner.jpg&ehk=m8rvqsgMJxNEa%2fEmeWkULhDEEa2VYSCMr2B8u79k9co%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
          class="d-block"
          alt="..."
        />
        <!-- <div class="carousel-caption d-none d-md-block">
       <h5>Third slide label</h5>
       <p>Some representative placeholder content for the third slide.</p>
      </div> -->
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" [routerLink]="['/product-details', item.id]" >View Details</button>
                <!-- <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button> -->
            </div>
        </ng-container>

    </div>
</div>